.footerLinksList {
    display: flex;
    list-style: none;
    justify-content: center;
    bottom: 0;
    width: 100%;
    position: fixed;
    background: var(--dark-bg);
}

.footerButtons {
    margin: 5px 20px 5px 20px;
    font-size: 4rem;
}